#  Proyecto Aurelion

Este notebook documenta el proceso de **an谩lisis, limpieza y transformaci贸n de datos** de la tabla `PRODUCTOS` del proyecto *Aurelion*, utilizando la biblioteca **Pandas** en Python.

El objetivo es preparar un conjunto de datos estructurado, limpio y estandarizado para posteriores procesos de an谩lisis estad铆stico, modelado o visualizaci贸n.

##  Descripci贸n General

La tabla `VENTAS` contiene informaci贸n detallada sobre operaciones comerciales, incluyendo campos de identificaci贸n, fechas, montos y categor铆as de productos.

A lo largo de este notebook se realizar谩n las siguientes tareas principales:

- Importaci贸n de los datos desde un archivo **Excel (.xlsx)**.  
- Creaci贸n del dataframe inicial `df_productos_c`.  
- Procesamiento, normalizaci贸n y renombrado de columnas para generar el dataframe limpio `df_productos`.  
- Aplicaci贸n de operaciones b谩sicas de **limpieza**, **transformaci贸n** y **estandarizaci贸n** de los datos.  
- Generaci贸n de **estad铆sticas descriptivas** para comprender la distribuci贸n y consistencia de las variables.

## 锔 Limpieza y Transformaci贸n de los Datos

En esta secci贸n se detallan las operaciones realizadas para asegurar la integridad y coherencia del dataset:

1. **Revisi贸n de valores nulos y duplicados.**  
   - Identificaci贸n y tratamiento de valores faltantes.  
   - Eliminaci贸n o imputaci贸n seg煤n el contexto de negocio.

2. **Estandarizaci贸n de tipos de datos.**  
   - Conversi贸n de fechas, montos y categor铆as al formato correcto.  
   - Normalizaci贸n de cadenas y eliminaci贸n de espacios o caracteres no deseados.

3. **Renombrado de columnas.**  
   - Aplicaci贸n de nombres consistentes y descriptivos conforme a las buenas pr谩cticas de an谩lisis de datos.

4. **Validaci贸n del dataframe final.**  
   - Verificaci贸n de dimensiones, tipos y contenido.  
   - Comparaci贸n con el dataframe original (`df_productos_c`).

#### Importamos librerias instaladas para implementarlas en el c贸digo

In [3]:
# Importa paquetes de an?lisis (pandas/numpy) y visualizaci?n (matplotlib/seaborn) con rutas portables
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

##  Carga del Archivo de Datos

En esta secci贸n se realiza la **importaci贸n del dataset principal** utilizando una **ruta relativa** y la librer铆a `pathlib.Path`. Esto no solo simplifica la ruta, sino que tambi茅n garantiza que el c贸digo sea **portable** y funcione correctamente en diferentes sistemas operativos (Windows, macOS, Linux), siempre y cuando la estructura de directorios se mantenga consistente.

>  **Ruta del archivo:** 
> El archivo se accede mediante la construcci贸n **`Path('db') / 'productos.xlsx'`**.

La lectura del archivo se efect煤a mediante la funci贸n `pd.read_excel()` de la biblioteca **pandas**, creando el dataframe inicial `df_productos_c`, el cual servir谩 como base para los procesos posteriores de limpieza y an谩lisis.

In [4]:
# Lee el cat?logo de productos desde la carpeta db usando rutas relativas
path_dataset = Path('db') / 'productos.xlsx'
df_productos_c = pd.read_excel(path_dataset)

# Inspecciona los primeros registros para validar estructura y campos
df_productos_c.head()

   id_producto     nombre_producto  categoria  precio_unitario
0            1      Coca Cola 1.5L  Alimentos             2347
1            2          Pepsi 1.5L   Limpieza             4973
2            3         Sprite 1.5L  Alimentos             4964
3            4  Fanta Naranja 1.5L   Limpieza             2033
4            5  Agua Mineral 500ml  Alimentos             4777

##  Inspecci贸n Inicial del Dataset

En esta etapa se realiza una **inspecci贸n exploratoria b谩sica** del DataFrame `df_productos_c` reci茅n cargado, con el objetivo de verificar que los datos se hayan importado correctamente y posean la estructura esperada.

Para ello, se utilizan las funciones:

In [5]:
# Ampl?a la vista inicial a 8 filas para detectar anomal?as tempranas
df_productos_c.head(8)

   id_producto         nombre_producto  categoria  precio_unitario
0            1          Coca Cola 1.5L  Alimentos             2347
1            2              Pepsi 1.5L   Limpieza             4973
2            3             Sprite 1.5L  Alimentos             4964
3            4      Fanta Naranja 1.5L   Limpieza             2033
4            5      Agua Mineral 500ml  Alimentos             4777
5            6      Jugo de Naranja 1L   Limpieza             4170
6            7      Jugo de Manzana 1L  Alimentos             3269
7            8  Energ茅tica Nitro 500ml   Limpieza             4218

In [7]:
# Revisa las ?ltimas 4 filas para confirmar consistencia al final del archivo
df_productos_c.tail(4)

    id_producto      nombre_producto  categoria  precio_unitario
96           97  Limpiavidrios 500ml  Alimentos              872
97           98  Desengrasante 500ml   Limpieza             2843
98           99          Esponjas x3  Alimentos             2430
99          100        Trapo de Piso   Limpieza             4854

##  Exploraci贸n de Tipos de Datos y Valores Nulos

En esta etapa se realiza una **revisi贸n estructural del DataFrame** para confirmar que los tipos de datos asignados a cada variable durante la lectura con `pd.read_excel()` sean correctos y coherentes con la naturaleza de la informaci贸n (por ejemplo, fechas, n煤meros, textos, etc.).

Adem谩s, se eval煤a la **presencia de valores nulos o faltantes**, los cuales podr铆an requerir tratamiento posterior durante el proceso de limpieza y estandarizaci贸n.

### З Procedimiento

In [9]:
# Resume tipos de datos, nulos y memoria del dataframe importado
df_productos_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_producto      100 non-null    int64
 1   nombre_producto  100 non-null    object
 2   categoria        100 non-null    object
 3   precio_unitario  100 non-null    int64
dtypes: int64(2), object(2)
memory usage: 3.3+ KB